@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6c68li");
  src: url("../fonts/icomoon.eot?6c68li#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?6c68li") format("truetype"),
    url("../fonts/icomoon.woff?6c68li") format("woff"),
    url("../fonts/icomoon.svg?6c68li#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.shortcut {
  width: 100%;
  height: 31px;
  background-color: #f1f1f1;
  line-height: 31px;
}
.shortcut .w > .fl ul > li {
  float: left;
  margin-right: 12px;
}
.shortcut .w > .fl ul > li > a {
  margin-right: 12px;
}
.shortcut .w > .fl ul > li > a:nth-child(2) {
  color: #c81623;
}
.shortcut .w .fr ul li {
  float: left;
}
.shortcut .w .fr ul li:nth-of-type(even) {
  width: 1px;
  height: 12px;
  margin: 9px 15px 0 15px;
  background-color: #666;
}
.arrow::after {
  font-family: "icomoon";
  content: "\e90e";
}
.header {
  height: 105px;
  position: relative;
}
.header > .logo a {
  top: 25px;
  position: absolute;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png) 100% no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.header > .search {
  position: absolute;
  left: 346px;
  width: 538px;
  height: 36px;
  top: 25px;
  border: 2px solid #c81623;
}
.header > .search input[type="search"] {
  width: 456px;
  height: 32px;
  float: left;
  padding-left: 10px;
}
.header > .search input[type="button"] {
  width: 78px;
  height: 32px;
  color: white;
  float: left;
  font-size: 16px;
  background-color: #c81623;
}
.header > .search .hotwords {
  position: absolute;
  top: 20px;
}
.header > .search .hotwords > ul > li {
  margin: 19px 12px;
  float: left;
}
.header > .search .hotwords > ul > li:nth-of-type(1) a {
  color: #c81623;
}
.header .shopcar {
  position: relative;
}
.header .shopcar a {
  position: absolute;
  width: 140px;
  height: 36px;
  right: 64px;
  top: 25px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}
.header .shopcar a::before {
  font-family: "icomoon";
  content: "\e914";
  font-size: 12px;
  color: #c81623;
  font-weight: 500;
  margin-right: 5px;
}
.header .shopcar a::after {
  font-family: "icomoon";
  content: "\e904";
  font-size: 12px;
  margin-left: 10px;
}
.header .shopcar .count {
  position: absolute;
  display: block;
  height: 14px;
  background-color: #e60012;
  right: 86px;
  top: 20px;
  border-radius: 13px 13px 13px 0px;
  text-align: center;
  line-height: 14px;
  padding: 0px 5px;
  color: white;
}
.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}
.nav .nav_box > .dropdown {
  margin-top: 2px;
}
.nav .nav_box > .dropdown > .dt {
  width: 100%;
  height: 100%;
  background-color: #b1191a;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  color: white;
  margin-right: 40px;
}
.nav .nav_box > .dropdown > .dd {
  display: block;
  height: 465px;
  width: 210px;
  background-color: #c81623;
  font-size: 14px;
  color: white;
}
.nav .nav_box > .dropdown > .dd > ul > li {
  position: relative;
  padding-left: 10px;
  margin-left: 2px;
  height: 31px;
  line-height: 31px;
}
.nav .nav_box > .dropdown > .dd > ul > li a {
  color: #fff;
  font-size: 14px;
}
.nav .nav_box > .dropdown > .dd > ul > li:hover {
  background-color: #fff;
  color: #c81623;
}
.nav .nav_box > .dropdown > .dd > ul > li:hover a {
  color: #c81623;
}
.nav .nav_box > .dropdown > .dd > ul > li::after {
  position: absolute;
  right: 10px;
  font-family: "icomoon";
  content: "\e904";
  font-size: 14px;
  line-height: 31px;
  color: #fff;
}
.nav .nav_box > #navitems ul > li {
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 45px;
}
.nav .nav_box > #navitems ul > li > a {
  padding: 0 20px;
  display: block;
}
.nav .nav_box > .navitems ul > li {
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 45px;
}
.nav .nav_box > .navitems ul > li > a {
  padding: 0 20px;
  display: block;
}
.footer {
  height: 420px;
  background-color: #f5f5f5;
}
.foot_container {
  width: 1200px;
  margin: 0 auto;
}
.foot_container > .mod_service {
  height: 110px;
  padding-top: 30px;
  border-bottom: 1px solid #ededed;
}
.foot_container > .mod_service li {
  width: 300px;
  height: 50px;
  padding-left: 35px;
  float: left;
}
.foot_container > .mod_service li h5 {
  margin-right: 8px;
  width: 50px;
  height: 50px;
  float: left;
  background: url(../images/icons.png) no-repeat -252px -2px;
}
.mod_help {
  padding-left: 52px;
  padding-top: 20px;
  height: 190px;
  border-bottom: 1px solid #ededed;
}
.mod_help dl {
  float: left;
  width: 200px;
}
.mod_help dl dt {
  font-size: 16px;
  margin-bottom: 8px;
}
.mod_help dl:nth-of-type(6) {
  width: 90px;
  text-align: center;
}
.mod_help dl:nth-of-type(6) dd:nth-of-type(1) img {
  vertical-align: middle;
}
.mod_right {
  height: 120px;
  background-color: #f5f5f5;
  padding-top: 20px;
}
.mod_right .about {
  margin-left: 100px;
}
.mod_right .about li {
  height: 12px;
  line-height: 12px;
}
.mod_right .about li:nth-of-type(even) {
  width: 1px;
  height: 12px;
  background-color: #f5f5f5;
  margin: 0 16px;
}
.mod_right .about ul > li {
  float: left;
}
.mod_right .about p {
  text-align: center;
}
.mod_right .about p:nth-of-type(1) {
  margin-top: 10px;
}
